In [19]:
import pandas as pd

In [20]:
df = pd.read_csv('../../data/landing/match_results_23.csv', index_col=0)

In [21]:
df.columns

Index(['id', 'providerId', 'utcStartTime', 'status', 'compSeason.id',
       'compSeason.providerId', 'compSeason.name', 'compSeason.shortName',
       'compSeason.currentRoundNumber', 'round.id', 'round.providerId',
       'round.abbreviation', 'round.name', 'round.roundNumber', 'home.team.id',
       'home.team.providerId', 'home.team.name', 'home.team.abbreviation',
       'home.team.nickname', 'home.team.teamType', 'home.team.club.id',
       'home.team.club.providerId', 'home.team.club.name',
       'home.team.club.abbreviation', 'home.team.club.nickname',
       'home.score.goals', 'home.score.behinds', 'home.score.totalScore',
       'home.score.superGoals', 'away.team.id', 'away.team.providerId',
       'away.team.name', 'away.team.abbreviation', 'away.team.nickname',
       'away.team.teamType', 'away.team.club.id', 'away.team.club.providerId',
       'away.team.club.name', 'away.team.club.abbreviation',
       'away.team.club.nickname', 'away.score.goals', 'away.score.behinds',
       'away.score.totalScore', 'away.score.superGoals', 'venue.id',
       'venue.providerId', 'venue.name', 'venue.abbreviation',
       'venue.location', 'venue.state', 'venue.timezone', 'venue.landOwner',
       'metadata.ticket_link', 'compSeason.year'],
      dtype='object')

In [22]:
df = df[['id', 'round.roundNumber',
    'home.team.name', 'home.score.goals', 'home.score.behinds', 'home.score.totalScore',
    'away.team.name', 'away.score.goals', 'away.score.behinds', 'away.score.totalScore',
    ]]

In [23]:
df.rename(columns={
    'round.roundNumber': 'round_number',
    'home.team.name': 'home_team', 
    'home.score.goals': 'home_team_goals', 
    'home.score.behinds': 'home_team_behinds', 
    'home.score.totalScore': 'home_team_total',
    'away.team.name': 'away_team', 
    'away.score.goals': 'away_team_goals', 
    'away.score.behinds': 'away_team_behinds', 
    'away.score.totalScore': 'away_team_total',
}, inplace=True)

In [24]:
df = df.query('round_number <= 24')

In [31]:
df = df.sort_values(['round_number', 'home_team']).reset_index(drop=True)

In [32]:
df

,id,round_number,home_team,home_team_goals,home_team_behinds,home_team_total,away_team,away_team_goals,away_team_behinds,away_team_total,match_id
0,4790,1,GWS Giants,15.0,16.0,106.0,Adelaide Crows,12.0,18.0,90.0,10006
1,4786,1,Geelong Cats,16.0,7.0,103.0,Collingwood,19.0,11.0,125.0,10001
2,4789,1,Gold Coast Suns,9.0,7.0,61.0,Sydney Swans,16.0,14.0,110.0,10005
3,4792,1,Hawthorn,9.0,11.0,65.0,Essendon,19.0,10.0,124.0,10007
4,4791,1,Melbourne,17.0,13.0,115.0,Western Bulldogs,9.0,11.0,65.0,10004
...,...,...,...,...,...,...,...,...,...,...,...
202,4989,24,Hawthorn,8.0,8.0,56.0,Fremantle,14.0,9.0,93.0,10199
203,4991,24,North Melbourne,20.0,12.0,132.0,Gold Coast Suns,14.0,13.0,97.0,10200
204,4990,24,Port Adelaide,13.0,16.0,94.0,Richmond,8.0,15.0,63.0,10204
205,4983,24,Sydney Swans,7.0,14.0,56.0,Melbourne,11.0,11.0,77.0,10205
206,4988,24,West Coast Eagles,12.0,6.0,78.0,Adelaide Crows,17.0,21.0,123.0,10203

In [33]:
# set match id such that it can be merged with player stats dataframe
df['match_id'] = df.index + 10_000

In [36]:
df.columns

Index(['id', 'round_number', 'home_team', 'home_team_goals',
       'home_team_behinds', 'home_team_total', 'away_team', 'away_team_goals',
       'away_team_behinds', 'away_team_total', 'match_id'],
      dtype='object')

In [39]:
df = df[[
    'match_id',
    'round_number', 
    'home_team', 'home_team_goals', 'home_team_behinds', 'home_team_total',
    'away_team', 'away_team_goals', 'away_team_behinds', 'away_team_total'
]]

In [42]:
df['match_margin'] = abs(df['home_team_total'] - df['away_team_total'])

In [43]:
df

,match_id,round_number,home_team,home_team_goals,home_team_behinds,home_team_total,away_team,away_team_goals,away_team_behinds,away_team_total,match_margin
0,10000,1,GWS Giants,15.0,16.0,106.0,Adelaide Crows,12.0,18.0,90.0,16.0
1,10001,1,Geelong Cats,16.0,7.0,103.0,Collingwood,19.0,11.0,125.0,22.0
2,10002,1,Gold Coast Suns,9.0,7.0,61.0,Sydney Swans,16.0,14.0,110.0,49.0
3,10003,1,Hawthorn,9.0,11.0,65.0,Essendon,19.0,10.0,124.0,59.0
4,10004,1,Melbourne,17.0,13.0,115.0,Western Bulldogs,9.0,11.0,65.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...
202,10202,24,Hawthorn,8.0,8.0,56.0,Fremantle,14.0,9.0,93.0,37.0
203,10203,24,North Melbourne,20.0,12.0,132.0,Gold Coast Suns,14.0,13.0,97.0,35.0
204,10204,24,Port Adelaide,13.0,16.0,94.0,Richmond,8.0,15.0,63.0,31.0
205,10205,24,Sydney Swans,7.0,14.0,56.0,Melbourne,11.0,11.0,77.0,21.0
206,10206,24,West Coast Eagles,12.0,6.0,78.0,Adelaide Crows,17.0,21.0,123.0,45.0

In [44]:
df.to_parquet('../../data/raw/match_results.parquet')